[package]
name = "libnv"
version = "0.1.2"
authors = ["Andrey Cherkashin <with.out@me.com>"]
categories = ["api-bindings", "data-structures", "os"]
license = "BSD-2-Clause"
description = "Safe and rustic wrapper around libnv-sys."
repository = "https://github.com/Inner-Heaven/libnv-rs"

[dependencies]
libc = "0.2"
libnv-sys = "0.1"
quick-error = "1.2"
